.box {
  max-height: 100px;
  border: 1px solid purple;
  overflow: scroll;
}

.box2 {
  margin: 10px;
  border: 2px solid red;

  align-items: center;
  text-align: center;
}

.box3{
    height: 70px;
    border: 1px solid purple;
    overflow: visible;
    overflow: hidden;
    overflow: clip;
    overflow: scroll;
    overflow: auto;
}