.Primeclass {
  height: 100vh;
  width: 100vw;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
}

.box1 {
  position: static;
  position: sticky;
}
.box2 {
  position: relative;
  left: 1400px;
  right: 0px;
}
.box3 {
  position: relative;
  top: 660px;
}
.box4 {
  position: absolute;
  top: 700px;
  left: 1400px;
}
.box5 {
  position: relative;
  top: 350px;
  left: 700px;
  right: 750px;
}
