p {
  position: static;
}

div {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: paleturquoise;
  border: 1px solid red;
}

.wrapper {
  height: 1000px;
  width: 100vw;
  background-color: yellow;
}

.box {
  position: relative;
  left: 60px;
  top: 20px;
  right: 450px;
  bottom: 20px;
}
.box1 {
  position: fixed;
  left: 270px;
  top: 180px;
  right: 450px;
  bottom: 20px;
}
.box2 {
  position: absolute;
  left: 300px;
  top: 200px;
  right: 600px;
  bottom: 200px;
}
.box3 {
  position: sticky;
  top: 0px;
  
}
