h1 {
  text-shadow: 13px 15px 13px blue;
  text-shadow: 6px 6px 6px green;
}

#box{
    background-color: greenyellow;
    width: 50vw;
    height: 50vh;
    padding: 15px;
    box-shadow: 10px 10px 10px red, 10px 10px 10px blue;
}

#box1{
    background-color: greenyellow;
    width: 50vw;
    height: 50vh;
    margin: 40px;
    box-shadow: -10px -10px 10px blue, 10px 10px 10px red;
}