.box{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin: 10px;
    background-image: conic-gradient(red,blue,yellow);
    
  }
  .box2{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin: 10px;
    background-image: conic-gradient(rgb(0, 255, 208),blue,yellow);
    
  }
  .box3{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin: 10px;
    background-image: conic-gradient(orange ,white 33%,green );
    
  }