.box{
  border: 1px solid black;
  height: 25vh;
  width: 50vw;
  margin: 10px;
  background-image: radial-gradient(red,blue);
  
}
.box2{
  border: 1px solid black;
  height: 25vh;
  width: 50vw;
  margin: 10px;
  background-image: radial-gradient(Ellipse,yellow,purple,orange );
  
}
.box3{
  border: 1px solid black;
  height: 25vh;
  width: 50vw;
  margin: 10px;
  background-image: radial-gradient(blue 10%,pink 20%,aqua 45% );
  
}