.box {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(red, blue);
  margin: 10px;
}
.box1 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to right, red, blue);
  margin: 10px;
}
.box2 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to left, red, blue);
  margin: 10px;
}
.box3 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to bottom, red, blue);
  margin: 10px;
}
.box4 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to top, red, blue);
  background-image: linear-gradient(to top right, red, blue);
  margin: 10px;
}
.box5 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to top left, red, blue);
  margin: 10px;
}
.box6 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(to bottom right, red, blue);
  margin: 10px;
}
.box5 {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(210deg, red, blue);
  margin: 10px;
}
