.box {
  background-color: greenyellow;
  transform: translate(40px, 100px);
  transform: translateX(100px);
  transform: translateY(200px);
  /*transform: rotate(-45deg);
  */transform: rotate(+45deg);
  /*InTransformrotatepropertyusingpossitiveangle(+45)canbeRotateCLWandusing(-45)canberotateACW*/margin: 20px;
  margin: 40px;
  transform: scale(1, 2);
  transform: skew(30deg);
  transform: skewY(200deg);
  transform: matrix(45px,90);
  -webkit-transform: matrix(45px,90);
  -moz-transform: matrix(45px,90);
  -ms-transform: matrix(45px,90);
  -o-transform: matrix(45px,90);
}
